* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: rgba(204, 32, 32, 0.5);
  height: 5vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.brand a img {
  width: 50px;
}
nav ul li {
  list-style: none;
  padding: 5px 20px;
}
nav ul li:hover {
  background-color: blueviolet;
  color: white;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav ul {
  display: flex;
}
nav ul li ul {
  display: block;
  margin: 10px;
  opacity: 0;
  visibility: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  min-width: 50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  transform: translateY(20px);
}
nav ul li ul li a {
  padding: 10px;
}
nav ul li:hover ul {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}
